<footer>
    <div class="footer-content flex-center">
        <div class="flex-center content-width">
            <div class="footer-grid link-format">
                <div>
                    <h4>Site</h4>
                    <span>Site written completely from scratch by me in HTML, CSS and JavaScript using Visual Studio Code.</span>
                </div>
                <div>
                    <h4>Contact</h4>
                    <a href="">
                        <span>LinkedIn</span>
                    </a>
                    <a href="">
                        <span>GitHub</span>
                    </a>
                </div>
                <div>
                    <h4>My Work</h4>
                    <a href="">
                        <span>Honk! Ranger Rush</span>
                    </a>
                    <a href="">
                        <span>SimCity 4 Mods</span>
                    </a>
                    <a href="">
                        <span>Custom Liveries</span>
                    </a>
                </div>
                <div>
                    <h4>Pages</h4>
                    <a href="">
                        <span>Home</span>
                    </a>
                    <a href="">
                        <span>About Me</span>
                    </a>
                    <a href="">
                        <span>Projects</span>
                    </a>
                    <a href="">
                        <span>Additional Work</span>
                    </a>
                </div>
            </div>
            <span>2026 Michael Vogl</span>
        </div>
    </div>
</footer>