<header class="flex-center">
    <div class="header-container header-above flex-center">
        <div class="content-width flex-row link-format">
            <span style="color: #dbdbdb; margin-right: 4px;"><strong>Contact Me</strong>:</span>
            <a href=""><span>LinkedIn</span></a>
            <div class="v-bar"></div>
            <a href=""><span>GitHub</span></a>
        </div>
    </div>
    <div class="header-container content-width">
        <div class="header-content">
            <a href="/index.html" id="header-logo">
                <div class="header-logo"></div>
            </a>
            <div class="header-navbar link-format">
                <a href="/pages/main/aboutme.html">
                    <div>About Me</div>
                </a>
                <a href="/pages/main/projects.html">
                    <div>Projects</div>
                </a>
                <a href="/pages/main/additionalwork.html">
                    <div>Additional Work</div>
                </a>
            </div>
        </div>
    </div>
</header>