<header>
    <div class="header-container content-width">
        <div class="header-content link-format">
            <a href="/index.html">
                <h1>Michael Vogl</h1>
            </a>
            <div class="header-navbar link-format">
                <a href="/pages/main/aboutme.html">
                    <div>About Me</div>
                </a>
                <a href="/pages/main/projects.html">
                    <div>Projects</div>
                </a>
                <a href="/pages/main/additionalwork.html">
                    <div>Additional Work</div>
                </a>
            </div>
        </div>
    </div>
</header>