/* The Big Backgroundski */

.fixed-bg
{
    background-size:cover;

    width: 100vw;
    height: 60vh;

    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;      
    
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bg-fit
{
    height: fit-content !important;
}

.img-code-one
{
    background-image:url("/assets/images/pictures/DSC_9564.webp");
}

.img-code-two
{
    background-image:url("/assets/images/pictures/DSC_0736.webp");
}

/*Featured Card Carousel*/

.featured-carousel-container
{
    position: absolute;
    top: 20%;
    right:15vw;

    width: 100%;
    height: 100%;

    max-width: 512px;
    max-height: 386px;

    overflow: visible;
}

.featured-carousel-selector-bar
{
    position: absolute;
    left: 25%;
    bottom: -24px;
    width: 50%;
    height: 12px;

    border-radius: 0px 0px 8px 8px;
    overflow: hidden;

    display: grid; 
    grid-template-columns: auto auto auto;
    gap: 8px;
}

.featured-carousel-selector-bar div
{
    background-color: #2c2c2c;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.featured-carousel-selector-bar .active
{
    background-color: #5c5c5c;
}

.featured-card
{
    /* background: radial-gradient(500px 200px at 10% 15%, rgba(46, 125, 50, 0.14), transparent 60%), radial-gradient(500px 200px at 90% 20%, rgba(102, 187, 106, 0.16), transparent 65%), #ffffff;*/
    box-sizing: border-box;
    position:absolute;
    left:0;
    top:0;

    border-radius: 18px;
    border: 1px solid rgba(65, 61, 56, 0.14);
    padding: 1.35rem 1.4rem;

    height: 100%;
    width: 100%;

    gap: 16px;

    font-family: "Roboto", sans-serif;
    font-style: italic;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    box-shadow: 1px 1px 16px rgb(0, 0, 0);

    transition: box-shadow 0.2s ease-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

    opacity: 0%;
    interactivity:unset;
    pointer-events: none;

    transform: translateX(50%) rotate(15deg);
}

.featured-card.active
{
    opacity: 100%;
    interactivity: inert;
    pointer-events: all;
    transform: translateX(0%) rotate(0);
}

.featured-card:hover
{
    box-shadow: 1px 1px 16px rgb(205, 205, 205);
    filter: brightness(1.03);
}

.featured-card h3
{
    font-size: 1.6rem;
    margin:0px;
}

.featured-card-image
{
    height: 100%;
    width: 100%;
    border-radius: 16px;

    border: 1px solid rgba(206, 206, 206, 0.9);

    background-origin: center;
    background-position: center;

    background-size: 100%;
    transition: background-size 0.15s ease-out, filter 0.2s ease-out;
}

.featured-card-title
{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.featured-card .featured-card-title span
{
    font-style: italic;
    color: #434343;
}

.featured-card span
{
    font-style: normal;
    font-weight: 500;
}

.featured-card-button
{
    padding: 16px;
    border-radius: 16px;

    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);

    border: 1px solid rgba(65, 61, 56, 0.05);
    
    font-style: normal;
    font-weight: bolder;
    text-align: center;

    transition: filter 0.2s ease-out;
    cursor: pointer;
}

.featured-card-button:hover
{
    filter: brightness(1.1);
}

.featured-card:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 999px;
    
    box-sizing: inherit;
}

.featured-card h4
{
    margin:0;
}

/* Coloured Feature Cards */
/* Blue Cards */
.card-orange.featured-card:before 
{
    background: linear-gradient(90deg, #feaf28, #e4cf31);
}

.card-orange.featured-card 
{
    background: radial-gradient(500px 200px at 10% 15%, rgba(230, 219, 0, 0.44), transparent 60%), radial-gradient(500px 200px at 90% 20%, rgba(239, 207, 3, 0.36), transparent 80%), #ffffff;
}

.card-orange .featured-card-button
{
    background: radial-gradient(circle at 20% 100%, rgb(255, 181, 44), #ffe942);
}

/* Green Cards */

.card-green.featured-card:before 
{
    background: linear-gradient(90deg, #93e839, #3cb228);
}

.card-green.featured-card 
{
    background: radial-gradient(500px 200px at 10% 15%, rgba(119, 230, 0, 0.44), transparent 60%), radial-gradient(500px 200px at 90% 20%, rgba(156, 239, 3, 0.36), transparent 80%), #ffffff;
}

.card-green .featured-card-button
{
    background: radial-gradient(circle at 20% 100%, rgb(65, 208, 17), #8aff42);
}

/* Blue Cards */

.card-blue.featured-card:before 
{
    background: linear-gradient(90deg, #71b6f3, #2387cf);
}

.card-blue.featured-card 
{
    background: radial-gradient(500px 200px at 10% 15%, rgba(0, 184, 230, 0.44), transparent 60%), radial-gradient(500px 200px at 90% 20%, rgba(3, 133, 239, 0.36), transparent 80%), #ffffff;
}

.card-blue .featured-card-button
{
    background: radial-gradient(circle at 20% 100%, rgb(138, 216, 255),rgb(55, 188, 255));
}
/* Main Body Stylings */
.overlay-card
{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height:512px;

    margin-top: -13vh;

    transform: skewy(-7deg);
    transform-origin: 50% 0;
}

.overlay-card-container
{
    width: 100%;
    max-height: 128px;
}

.body-content
{
    background-color:rgb(255, 255, 255);
    width: 100%;
    position: relative;
    z-index: 1;
}

.body-wrapper
{
    position: relative;
}

.body-wrapper::after
{
    z-index: 0;
    content: "";
    display:block;
    width: 100%; height: 35vh;
    background-color: rgb(255, 255, 255);
    transform: skew(0deg, 2deg);
    position: absolute; top: 0px; left: 0px;
    transform-origin: right;
    
    box-shadow: -2px -2px 6px rgb(0, 0, 0);
}

/* Home Page Elements */
.intro-hi
{
    /*position: absolute; top: -5vh; right: 21vw;*/

    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-size: 3rem;

    z-index: 3;

    /*
    color: #fee022;
    text-shadow: 2px 2px 4px black;
    */

    margin-top: -15px;
    margin-bottom: -10px;

    color:rgb(29, 29, 17);
}

.intro-body
{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
     
    color:rgb(36, 36, 36);
}

.intro-section
{
    /*padding: 32px 32px 86px 32px;*/
    padding: 32px 32px 0px 32px;
}